@page
@model TheWorldLevel.Pages.Rooms.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Room</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Room.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Room.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Room.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Room.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Room.PlayersNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Room.PlayersNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Room.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Room.Price)
        </dd>
        <dt class="col-sm-2">
            Image
        </dt>
        <dd class="col-sm-10">
            @foreach (var image in Model.Room.Image)
            {
            <img src="@("~/stock/" + image.FileName)" asp-append-version="true" width="250" height="250" />
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Room.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
